*{
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    
}

body > :not(header){
    padding: 0 6em;
    max-width: 80%;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

header{
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: bold;
    /*Need to specify top as well when ur using sticky*/
    position: sticky;
    top:0;
}

header nav{
    padding-top: 0.5em;
}

header #create{
    background: none;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font: inherit;
    padding-right: 1em;
    cursor:pointer;
}

header a{
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

header h1{
    margin: 0;
    padding-left: 24px;
}

img{
    width: 300px;
    height: 200px;
    border: 12px solid #3882F6;
    border-radius: 10%;
    margin: 0;
    padding: 0;
}

figcaption{
    border: 6px solid black;
    width: 300px;
    height: 25rem;
    margin: 0.5em 1em 1em 0;
    padding:12px;
    text-wrap: wrap;
}

figcaption p {
    margin: 0;
    padding: 0.5em;
}

.areaSelectors{
    color: white;
    background-color: #1F2937;
    padding: 12px;
}

.areaSelectors h1{
    margin: 0;
    padding: 0;
}

.areaSelectors label{
    padding-right: 1em;
}

.Abdomen, .Ankles, .Biceps, .Calves, .Chest, .Feet, .Fingers, .Forearms, .Glutes, .Groin, .Hamstrings, .Hands,
.Hips, .ITBand, .Knees, .Lats, .LowerBack, .Neck, .Obliques, .Psoas, .Quadriceps, .Shins, .Shoulders, .Spine, .Toes,
.Triceps, .UpperBack, .Wrists{
    display: flex;
    flex-direction: row;
}

.stretch{
    display: flex;
    flex-direction: column;
    
}

.stretch h1{
    margin:0;
    padding:0;
    width: 300px;
    text-align: center;
}

#stretch-regions{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

/*Had issues when disabling regions without using a class*/
.hidden{
    display: none;
}