*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
}

header{
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: bold;
}

header nav{
    padding-top: 0.5em;
}

header a{
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

header h1{
    margin: 0;
    padding-left: 24px;
}

img{
    width: 100px;
}

figcaption{
    border: 1px solid black;
    width: 300px;
}

.Abdomen, .Ankles, .Biceps, .Calves, .Chest, .Feet, .Fingers, .Forearms, .Glutes, .Groin, .Hamstrings, .Hands,
.Hips, .ITBand, .Knees, .Lats, .LowerBack, .Neck, .Obliques, .Psoas, .Quadriceps, .Shins, .Shoulders, .Spine, .Toes,
.Triceps, .UpperBack, .Wrists{
    display: flex;
}